.scene {
  --len: 200svh;
}

.text {
  align-self: end;
  display: grid;
  gap: var(--s-5);
  max-width: 40rem;
  position: relative;
  z-index: 2;
}

.title {
  /* POR SEGUNDO. = 9.6em */
  font-size: clamp(2.2rem, 0.8rem + 3.2vw, 4.5rem);
}

@media (max-width: 767px) {
  .title {
    font-size: min(8.8vw, 3.2rem);
  }
}
